.flashSales {
  margin: 70px auto;
  border-bottom: 2px solid gainsboro;
  .head {
    display: flex;
    align-items: center;
    gap: 20px;
    h4 {
      color: #db4444;
      font-size: 16px;
      font-weight: 600;
      font-family: Poppins;
    }
  }
  .categoryName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header {
      h1 {
        font-family: Inter;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1.44px;
        margin-top: 20px;
      }
    }
    .sale {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .number {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          font-family: Inter;
          font-size: 32px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 1.28px;
        }
        p {
          font-family: Poppins;
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
        }
      }
      .fa-colon {
        margin-top: 15px;
      }
    }
    .btn {
      button {
        border-radius: 4px;
        padding: 10px 30px;
        background-color: #db4444;
        color: white;
        border: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        cursor: pointer;
        transition: all 700ms;
        &:hover {
          background-color: #cd1313;
        }
      }
    }
  }
  .cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    .card {
      margin-top: 30px;
      width: 270px;
      height: 320px;
      border: 1px solid gainsboro;
      border-radius: 4px;
      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        position: relative;
        &:hover {
          .add {
            opacity: 1;
          }
        }
        img {
          padding: 15px;
          width: 200px;
          height: 200px;
          object-fit: cover;
        }
        .persentage {
          padding: 4px 12px;
          background-color: #db4444;
          border-radius: 4px;
          position: absolute;
          top: 5%;
          left: 5%;
          p {
            color: white;
          }
        }
        .add {
          position: absolute;
          bottom: 0;
          width: 270px;
          height: 35px;
          background-color: black;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: all 800ms;
          p {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
          }
        }
        .heart {
          position: absolute;
          top: 5%;
          right: 5%;
          background-color: white;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          a {
            .fa-heart {
              font-size: 18px;
              padding: 9px;
              color: black;
            }
            .fa-solid{
              color: #db4444;
            }
          }
        }
        .eye {
          position: absolute;
          top: 30%;
          right: 5%;
          background-color: white;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          a {
            .fa-eye {
              font-size: 18px;
              padding: 8px;
              color: black;
            }
          }
        }
      }
      .text {
        font-family: Poppins;
        line-height: 28px;
        padding-left: 20px;
        padding-top: 20px;
        h4 {
          font-size: 16px;
          font-weight: 700;
        }
        .price {
          font-size: 16px;
          color: #db4444;
          font-weight: 500;
        }
        .oldPrice {
          font-size: 16px;
          font-weight: 500;
          text-decoration-line: line-through;
          color: gray;
          margin-left: 20px;
        }
        .star {
          .comments {
            color: gray;
            margin-left: 8px;
          }
        }
      }
    }
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    button {
      border-radius: 4px;
      padding: 16px 48px;
      background-color: #db4444;
      color: white;
      border: none;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      cursor: pointer;
      transition: all 700ms;
      &:hover {
        background-color: #cd1313;
      }
    }
  }
}

