.posts {
    margin: 100px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    .post {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-align: center;
      .text {
        h3 {
          color: #000;
          font-family: Poppins;
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
        }
        p {
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
        }
      }
      .borderWhite {
        width: 80px;
        height: 80px;
        background-color: #5b5a5c;
        border-radius: 50%;
        position: relative;
        .borderBlack {
          width: 55px;
          height: 55px;
          background-color: black;
          border-radius: 50%;
          position: absolute;
          top: 15%;
          left: 16%;
          svg {
            position: absolute;
            top: 10%;
            left: 15%;
          }
        }
      }
    }
  }